@import '../../../../shared/styles/mixins';

.stories {
  color: #fff;
  z-index: 0;
  padding: 40px 80px 0 80px;
  @media (max-width: 992px) {
    padding: 40px 40px 0 40px;
  }
  @media (max-width: 767px) {
    padding: 40px 30px 0 30px;
  }

  &__container {
    max-width: 1300px;
  }

  &__row {
    @include flexbox();
    margin: 0 -10px;
    @media (max-width: 1600px) {
      flex-wrap: wrap;
    }
  }

  &__column {
    flex: 0 1 50%;
    z-index: 0;
    padding: 0 10px;
    @media (max-width: 1600px) {
      flex: 0 1 100%;
    }
  }

  &__items {
    @include flexbox();
    margin: 0 -10px;
    @media (max-width: 1600px) {
      flex: 0 1 100%;
      a {
        width: 100%;
      }
      .article__item {
        .article__img {
          img {
            width: 100%;
            height: 400px;
          }
        }

        .article__suptitle {
          max-width: none;
          margin-bottom: 10px;
        }
      }
    }
    @media (max-width: 767px) {
      flex-wrap: wrap;
    }

    .article__item {
      @media (max-width: 767px) {
        flex: 0 1 100%;
      }
    }
  }

  &__item {
    flex: 0 1 50%;

    &:hover {
      .stories__suptitle {
        transition: all 0.3s;
        color: #b80000;
      }
    }
  }

  &__wrap {
    margin-bottom: 15px;
  }

  &__img {
    img {
      object-fit: cover;
    }
  }

  &__imgMini {
    img {
      object-fit: cover;
    }

    @media (max-width: 992px) {
      display: none;
    }
  }

  &__time {
    max-width: 100px;
    line-height: 1.1;
    padding-right: 5px;
    width: 80px;
    @media (max-width: 1600px) {
      display: none;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    text-align: left;
    color: #000;
    @media (max-width: 1600px) {
      padding-top: 20px;
    }
    margin-bottom: 25px;
  }

  &__suptitle {
    color: #000;
    font-weight: 700;
    max-width: 420px;
    padding-top: 10px;
    line-height: 1.2;
    font-size: 15px;
  }

  &__infoItem {
    color: #000;
    @include flexbox();
    justify-content: space-between;
    margin-bottom: 10px;
    @media (max-width: 992px) {
      margin-bottom: 30px;
    }

    &:hover {
      color: #b80000;
      @include anim(0.3s, 0s);
    }
  }

  &__infoTitle {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.1;
  }

  &__infoSupTitle {
    line-height: 1.1;
    text-overflow: ellipsis;
    width: 610px;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 20px;
    @media (max-width: 992px) {
      display: none;
    }
  }

  &__info {
    max-width: 600px;
    @media (max-width: 1600px) {
      max-width: unset;
    }
  }
}
