//<МИКСИНЫ>===============================================================================================
@import 'mixins';
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: 'Montserrat';
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1700;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
body {
  background: #fff;
  color: #fff;
  font-size: 14px;
  &.lock {
    overflow: hidden;
  }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
  max-width: $mw + px;
  margin: 0 auto;
  width: 100%;
  @media (max-width: $md1+px) {
    max-width: 970px;
  }
  @media (max-width: $md2+px) {
    max-width: none;
  }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import 'Auth/Auth';
@import 'Header/Header';
@import 'InternalStory/internalStory';
@import 'MainContent/mainContent';
@import 'Stories/stories';
@import 'TheBest/theBest';
@import 'Trending/trending';

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//<ОСНОВНОЙ БЛОК>====================================================================================================
//====================================================================================================
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
aside,
nav,
footer,
header,
section {
  display: block;
}
html,
body {
  height: 100%;
  min-width: $minwidth;
}
body {
  line-height: 1;
  font-family: $fontfamily;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  a {
    color: inherit !important;
  }
}
input,
button,
textarea {
  font-family: $fontfamily;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.btn {
  display: inline-block;
  height: 38px;
  padding: 0px 25px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 6px;
  @media (min-width: $md1+px) {
    &:hover {
      @include anim(0.3s, 0s);
      color: #b80000;
      background: #fff;
    }
  }
  position: relative;
  color: #fff;
  font-weight: 700;
}

.mainContent__item--small {
  min-height: 400px !important;
}

.article {
  &__item {
    padding: 0 10px;
    flex: 0 1 50%;
    &:hover {
      .article__suptitle {
        transition: all 0.3s;
        color: #b80000;
      }
    }
  }
  &__img {
    position: relative;
    img {
      object-fit: cover;
      max-width: 100%;
    }
  }
  &__suptitle {
    color: #000;
    font-weight: 700;
    max-width: 420px;
    padding-top: 10px;
    line-height: 1.2;
    font-size: 15px;
  }
  &__badge {
    display: block;
    background: #ff00009e;
    padding: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
  }
}

.auth__error {
  color: #b80000;
  margin-bottom: 10px;
  display: block;
  font-weight: 700;
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
